* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main {
    margin: .5rem auto;
    padding: 1rem;
    max-width: 1300px;
}

header {
    background-color: #bed;
}

h1 {
    padding: 1rem;
}

p {
    padding: 0 .5rem;
}

code {
    color: #158631;
}

::selection {
    color: #fff;
    background-color: #308D46;
}